@{
    ViewData["Title"] = "Relatórios";
}

<h1>Relatórios</h1>

<p>Aqui você poderá visualizar os relatórios gerados pelo sistema.</p>

<p>
    <a href="@Url.Action("ProdutosEmEstoque", "Pdf")" class="btn btn-primary">
        Gerar Relatório de Produtos em Estoque
    </a>
</p>
